@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap');

body {
    background-image:url("../ice-station-cropped.png");
    background-position-x: 99%;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0px;
    font-weight: 475;
}

/* Links */
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 475;
    color: #1af7ff
}

/* Silly top-nav */
.nav {
    font-size: 12px;
    display: flex;
    margin-top: 0px;
    width: 100%;
    height: 40px;
    background-color: #00000070;
    border-bottom-color: #4c5250;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.nav_logo {
    padding: 7px
}
.nav > a {
    margin-top: 12px !important;
    margin-bottom: 10px !important;
    border-width: 2px !important;
    text-decoration: none;
    margin: 12px;
    display: inline-flex;
    align-content: center;
    color: white
}

/* Main bit */
p {
    font-weight: 475;
    margin: auto;
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #00000070;
    text-wrap: stable;
    width: 640px;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 35px;
}
h1 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.content {
    display: grid;
    width: 100%;
    height: calc(100vh - 42px);
}

.mapmakingdocs {
    width: 100%;
    height: calc(100% + 1px)
}

iframe {
    border: none
}

.homepage {
    border: 0px;
    padding: 0px;
    margin-left: 90px;
    position: absolute;
    width: 41px;
    transition-duration: 400ms;
    color: #FFF;

    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;

    background: none;
}

.serverlist {
    padding: 0px;
    width: 71px;
    transition-duration: 400ms;
    color: #FFF;

    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: 0px;
}
.mapmaking {
    padding: 0px;
    position: absolute;
    width: 193px;
    transition-duration: 400ms;
    color: #FFF;

    font-family: 'Montserrat', sans-serif;
    background: none;
    border: 0px;
}
#nav_button {
    font-weight: 475;
    background: none;
    border: none;
    margin: 9px;
    width: fit-content !important;
}
#nav_button:hover {
    transition-duration: 400ms;
    color: #EEE;
}

button {
    transition-duration: 400ms;
    background-color: #14c5cc;
    color: #000;

    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;

    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;

    border: 0;
}
button:hover {
    transition-duration: 200ms;
    background-color: #1af7ff;
}