@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap');

body {
    background-image:url("../backgrounds/cr.png");
    background-position-x: 50%;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    font-weight: 475;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

/* Links */
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 475;
    color: #1af7ff
}

/* Silly top-nav */
.nav {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #00000070;
    margin: 0;
    font-size: 0.75em;
    height: 42px;
    max-height: 42px;
}
.nav-options {
    position: absolute;
    transform-origin: center;
    transform: translate(calc(50vw - 50%), 0%);
    min-width: fit-content;
    display: grid;
    grid-template-areas: "home how-to-play community custom-maps mapmaking";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.mobile-nav-button {
    visibility: hidden;
    position: absolute;
    transform-origin: center;
    transform: translate(calc(100vw - 100%));
}
.mobile-nav-menu {
    position: absolute;
    transform: translate(50vw, 0px);
    display: none;
    background-color: #000;
    grid-template-columns: 200%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
#mobile-nav-dropdown {
    background-color: transparent;
    border: none;
}
@media all and (max-width: 720px) {
    .nav-options {
        visibility: hidden;
    }
    .mobile-nav-button {
        visibility: visible;
    }
    #mobile-nav-dropdown:focus-within .mobile-nav-menu {
        position: absolute;
        transform-origin: center;
        transform: translate(-85%, 3%);
        min-width: fit-content;
        display: grid;
    }
}
#nav_button {
    font-weight: 475;
    border: none;
    margin: 9px;
    width: fit-content !important;
}
#nav_button:hover {
    transition-duration: 400ms;
    color: #EEE;
}
.nav-item {
    margin: 3px
}
.nav-logo {display: flex;}
.nav-home {grid-area: "home"}
.nav-how-to-play {grid-area: "how-to-play"}
.nav-community {grid-area: "community"}
.nav-custom-maps {grid-area: "custom-maps"}
.nav-mapmaking {grid-area: "mapmaking"}
.nav-selected {
    text-decoration: underline !important;
    text-decoration-thickness: 1.5px !important;
    text-decoration-skip-ink: none;
}
.nav-item {
    border-width: 2px !important;
    text-decoration: none;
    margin: 12px;
    color: white
}
/*
    ||| Core parts |||
*/
.base-text {
    font-size: 90%;
    font-weight: 475;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-wrap: stable;
    width: calc(80%);
    max-width: 600px;
    padding-top: 15px;
    line-height: 23px;
}
.dark-background-centered {
    padding: 20px;
    margin-top: 20px !important;
    margin: auto;
    background-color: #00000070;
}
.section-highlight-blue {
    border-top-color: #1af7ff;
    border-top-width: 1px;
    border-top-style: solid;
}
/*
    ||| Stupid fixes |||
*/
.community-page-logo { /* This is a stupid fix I shouldn't be keeping. I'm keeping it anyway. */
    max-width: 75%
}
.p-no-margin {
    margin: 0
}
.p-one-em {
    font-size: 1em !important;
}
/*
    ||| Main sections |||
*/
p {
    font-family: 'Montserrat', sans-serif; 
    color: #FFF;
}
h3 {
    text-transform: uppercase;
    font-weight: 750;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    line-height: 0.75em;
    color: #1af7ff;
}
/*
    ||| How-to-play page |||
*/
summary {
    transition-duration: 400ms;
    margin: auto;
    background-color: #FFFFFF10;
    max-width: 100px;
    padding: 3px;
}
summary:hover {
    transition-duration: 200ms;
    background-color: #FFFFFF30;
}
details {
    margin: auto;
    margin-bottom: 10px !important;
}
/*
    ||| Embeds |||
*/
.yt-embed {
    aspect-ratio: 16 / 9;
    max-width: 500px
}
.mapmaking-embed {
    display: block;
    width: 100%;
    height: calc(100vh - 44px);
    margin: 0;
    padding: 0;
    border: none;
    background-color: #1b1b1f
}

.mapmakingdocs {
    width: 100%;
    height: calc(100% + 1px)
}

iframe {
    border: none
}

.homepage {
    border: 0px;
    padding: 0px;
    margin-left: 90px;
    position: absolute;
    width: 41px;
    transition-duration: 400ms;
    color: #FFF;

    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;

    background: none;
}

.button-style-base {
    transition-duration: 400ms;
    background-color: #14c5cc;
    color: #000;

    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    height: 20px;

    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;

    border: 0px;
}
.a-button {
    display: inline-block;
    text-decoration: none;
    padding-top: 5px;
    font-weight: 425;
}
.a-button:hover {
    transition-duration: 200ms;
    background-color: #1af7ff;
}
/*
    ||| Custom maps page |||
*/
.maps-tip {
    letter-spacing: 0.1px;
    font-weight: 500;
    text-align: center;
    text-rendering: geometricPrecision;
    font-size: 0.8em;
    margin: auto;
    padding: 10px;
    line-height: 1.1em;
    padding-bottom: 15px;
    max-width: 860px;
    padding: 20px;
    margin-top: 20px !important;
    margin: auto;
    background-color: #00000070;
}
.maps_list {
    display: grid;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 200px);
    max-width: clamp(860px, 860px, 100vw);
    flex-direction: row;
	flex-wrap: wrap;
    min-height: 350px;
    margin: clamp(20px, auto);
}
.map_tile {
    background-color: #FFFFFF20;
    aspect-ratio: 1.2 / 1;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.maps_list > p {
    width: 100%;
}
.map-name-label {
    position: relative;
    image-rendering: crisp-edges;
    top: 5px;
    height: 12px;
}
.zero-size {
    width: 0;
    height: 0;
    line-height: 0;
}
.map_tile_preview {
    line-height: 0;
    aspect-ratio: 16 / 9;
    background-color: #FFFFFF10;
    width: 100%;
    margin: 0
}
.map_tile_name, .map_tile_author {
    line-height: 1em;
    font-size: 0.75em;
    margin: 10px;
    margin-top: 8px;
}
.map_tile_author {
    text-rendering: optimizeLegibility;
    font-size: 0.5em;
    line-height: 0.2em;
    color: #ABABAB;
}
.download-map, .download-disabled {
    transition-duration: 400ms;
    background-color: #FFFFFF20;
    color: #000;

    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;

    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    border-style: none !important;
    border: 0;
}
.download-map {
    background-color: #FFFFFF20;
}
.download-disabled {
    background-color: #FF330030 !important;
}
.download-map:hover {
    transition-duration: 200ms;
    background-color: #FFFFFF40;
}
.download-map-icon {
    margin: 0;
    width: auto;
    height: 18px;
    image-rendering: crisp-edges;
}
.workshop-icon-size {
    height: 18px;
    image-rendering: crisp-edges;
}
.map-tile-buttons {
    line-height: 0;
    display: grid;
    grid-template-columns: 20px 20px 20px;
    column-gap: 5px;
    padding-bottom: 5px;
    justify-content: center;
}

/* Never do this. */
.map-info {
    position: relative;
    line-height: 0;
}
.map-info-overlay {
    color: #AAAAAA;
    text-rendering: optimizeLegibility;
    display: none;
    line-height: 0;
}
.map-info-header {
    position: relative;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 0.5em;
}
.map-info-content {
    font-size: 0.9em;
    line-height: 1.1em;
    text-align: left;
    margin-top: 0;
    padding-bottom: 0.75em;
}
.map-info:focus-within {
    .map-info-overlay {
        display: block;
        position: absolute;
        background-color: #000000C0;
        backdrop-filter: blur(1px);
        padding: 5px;
        left: -65px;
        top: -158.1px;
        width: 190px;
        height: 171px;
    }
}

/* Mapmaking table */
table {
    box-sizing: border-box;
    width: 100%;
    border-spacing: 20px;
    table-layout: fixed; /* Ensures table cells have fixed width */
    height: 200px !important;
    overflow: hidden
}
td {
    box-sizing: border-box;
    background-color: #00000070;
    padding: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    vertical-align: top;
}
td.mm-content p {
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px
}
ul {
    line-height: 25px;
}
pre {
    background-color: #FFFFFF20;
}
pre > code {
    background-color: transparent !important;
    border: none !important;
}

a.mapmaking_sidebar {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

summary > a.mapmaking_sidebar {
    margin-left: 5px;
}

.sidebar_detail_open {
    padding-left: 17px !important;
}

summary {
    color: white;
    cursor: pointer;
}

details {
    color: #CBCBCB;
    cursor: default;
}

h4 {
    margin-top: 40px;
    margin-bottom: 10px
}
p.img_caption {
    color: #DDDDDD;
    margin-bottom: 30px !important;
}
code {
    padding: 2px;
    background-color: #FFFFFF20;
    border-width: 2px;
    border-color: #FFFFFF20 
}