@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap');

body {
    background-image:url("../backgrounds/cr.png");
    background-position-x: 99%;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0px;
    font-weight: 475;
    overflow: auto;
}

/* Links */
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 475;
    color: #1af7ff
}

/* Silly top-nav */
.nav {
    font-size: 0.75em;
    display: flex;
    margin-top: 0px;
    width: 100%;
    height: 42px;
    background-color: #00000070;
}

.nav_logo {
    margin: 0px !important;
    padding: 7px;
    width: auto
}
.nav > a {
    margin-top: 13.5px !important;
    margin-bottom: 10px !important;
    border-width: 2px !important;
    text-decoration: none;
    margin: 12px;
    display: inline-flex;
    align-content: center;
    color: white
}

/* Main bit */
p {
    font-family: 'Montserrat', sans-serif; 
    color: #FFF;
}
.p-no-margin {
    margin: 0
}
h3 {
    font-weight: 750;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 0px;
    color: #1af7ff;
}
summary {
    transition-duration: 400ms;
    margin: auto;
    background-color: #FFFFFF10;
    max-width: 100px;
    padding: 3px;
}
summary:hover {
    transition-duration: 200ms;
    background-color: #FFFFFF30;
}
details {
    margin: auto;
    margin-bottom: 10px !important;
}
.home {
    font-size: 90%;
    font-weight: 475;
    margin: auto;
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #00000070;
    text-wrap: stable;
    width: calc(100% - 80px);
    max-width: 600px;
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 15px;
    line-height: 23px;
    border-top-color: #1af7ff;
    border-top-width: 1px;
    border-top-style: solid;
}
.yt-embed {
    aspect-ratio: 16 / 9;
    max-width: 500px
}

.content {
    display: grid;
    width: 100%;
    height: calc(100vh - 42px);
    background-color: #1b1b1f
}

.mapmakingdocs {
    width: 100%;
    height: calc(100% + 1px)
}

iframe {
    border: none
}

.homepage {
    border: 0px;
    padding: 0px;
    margin-left: 90px;
    position: absolute;
    width: 41px;
    transition-duration: 400ms;
    color: #FFF;

    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;

    background: none;
}

#nav_button {
    font-weight: 475;
    background: none;
    border: none;
    margin: 9px;
    width: fit-content !important;
}
#nav_button:hover {
    transition-duration: 400ms;
    color: #EEE;
}

.button-style-base {
    transition-duration: 400ms;
    background-color: #14c5cc;
    color: #000;

    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;

    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;

    border: 0px;
}
button:hover {
    transition-duration: 200ms;
    background-color: #1af7ff;
}
.maps-tip {
    letter-spacing: 0.1px;
    font-weight: 500;
    text-align: center;
    text-rendering: geometricPrecision;
    font-size: 14px;
    margin: auto;
    padding: 10px;
    line-height: 18px;
    padding-bottom: 15px;
    max-width: 880px;
}
.maps_list {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #1af7ff;
    display: flex;
    padding: 10px;
    max-width: 880px;
    margin-top: 20px !important;
    margin: auto;
    background-color: #00000070;
    flex-direction: row;
	flex-wrap: wrap;
    min-height: 350px;
}
.map_tile {
    margin: 10px;
    background-color: #FFFFFF20;
    max-width: 200px !important;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
	flex-wrap: wrap;
    max-height: 180px;
}
.map_tile_preview {
    aspect-ratio: 16 / 9;
    background-color: #FFFFFF10;
    width: 100%;
    margin: 0
}
.map_tile_name, .map_tile_author {
    line-height: 5px;
    font-size: 12px;
    margin: 10px;
    margin-top: 8px;
}
.map_tile_author {
    text-rendering: optimizeLegibility;
    font-size: 8px !important;
    line-height: 5px;
    color: #ABABAB;
}
.download-map, .download-disabled {
    transition-duration: 400ms;
    background-color: #FFFFFF20;
    color: #000;

    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    width: 18px;
    height: 18px;

    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    border-style: none !important;
    border: 0;
}
.download-map {
    background-color: #FFFFFF20;
}
.download-disabled {
    background-color: #FF330030 !important;
}
.download-map:hover {
    transition-duration: 200ms;
    background-color: #FFFFFF40;
}
.download-map-icon {
    margin: 0;
    width: auto;
    height: 18px;
    image-rendering: crisp-edges;
}

/* Mapmaking table */
table {
    box-sizing: border-box;
    width: 100%;
    border-spacing: 20px;
    table-layout: fixed; /* Ensures table cells have fixed width */
    height: 200px !important;
    overflow: hidden
}
td {
    box-sizing: border-box;
    background-color: #00000070;
    padding: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    vertical-align: top;
}
td.mm-content p {
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px
}
ul {
    line-height: 25px;
}
pre {
    background-color: #FFFFFF20;
}
pre > code {
    background-color: transparent !important;
    border: none !important;
}

a.mapmaking_sidebar {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

summary > a.mapmaking_sidebar {
    margin-left: 5px;
}

.sidebar_detail_open {
    padding-left: 17px !important;
}

summary {
    color: white;
    cursor: pointer;
}

details {
    color: #CBCBCB;
    cursor: default;
}

h4 {
    margin-top: 40px;
    margin-bottom: 10px
}
img {
    margin-bottom: 5px;
    margin-top: 0px;
    width: 50%
}
p.img_caption {
    color: #DDDDDD;
    margin-bottom: 30px !important;
}
code {
    padding: 2px;
    background-color: #FFFFFF20;
    border-width: 2px;
    border-color: #FFFFFF20 
}